@page "/"

<PageTitle> Home </PageTitle>

<article class="menu">
    <span><h1>Manage Your Lights: </h1></span>
    <div class="tiles">
        <div class="tile-item">
            <NavLink href="StripColor">
                <div class="tile-item-text">
                    Change Your LED Strip's Color
                </div>
            </NavLink>
        </div>

        <div class="tile-item">
            <NavLink href="TimeFrame">
                <div class="tile-item-text">
                    Set Work Time Frame
                </div>
            </NavLink>
        </div>

        <div class="tile-item">
            <NavLink href="IndividualLeds">
                <div class="tile-item-text">
                    Program Individual LEDs
                </div>
            </NavLink>
        </div>

        <div class="tile-item">
            <NavLink href="OnOffSwitch">
                <div class="tile-item-text">
                    On  /  Off  <br />  <div style="font-size: 0.6em">currently: ---</div>
                </div>
            </NavLink>
        </div>

        <div class="tile-item">
            <NavLink href="Help">
                <div class="tile-item-text">
                    Get Help
                </div>
            </NavLink>
        </div>
    </div>
    <span></span>
</article>