@page "/"

<article class="menu">
    <span><h1>Manage Your Lights: </h1></span>
    <div class="tiles">
        <div class="tile-item">
            <NavLink href="">
                <div class="tile-item-text">
                    Strip Color
                </div>
            </NavLink>
        </div>

        <div class="tile-item">
            <NavLink href="">
                <div class="tile-item-text">
                    Time Frame
                </div>
            </NavLink>
        </div>

        <div class="tile-item">
            <NavLink href="">
                <div class="tile-item-text">
                    Individual LEDs
                </div>
            </NavLink>
        </div>

        <div class="tile-item">
            <NavLink href="">
                <div class="tile-item-text">
                    On  /  Off  <br />  Switch
                </div>
            </NavLink>
        </div>

        <div class="tile-item">
            <NavLink href="">
                <div class="tile-item-text">
                    Help
                </div>
            </NavLink>
        </div>
    </div>
    <span></span>
</article>