.slider-container {
    margin-left: 2em;
}

.slider-label {
    display: block;
    margin-top: 1em;
    color: var(--accent-color);
}

.slider {

}

.slider-value {
    display: block;
    width: fit-content;
    color: var(--less-accent-color);
}


@media (min-width: 640.98px) {
    
}