/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-v22kqhmhi5] {
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}



/*** CONTENT BODY ****/
.content[b-v22kqhmhi5] {
    padding: 1em;
    flex-basis: 100%;
    background-image: linear-gradient(0.45turn, var(--top-color), var(--bottom-color));
    color: var(--font-color);
}

    /*.content.dark-mode {
        background-image: linear-gradient(0.45turn, #1b1d1e, #0a171e);
    }*/
/*************************/



/*** NAVBAR ****/
.navbar[b-v22kqhmhi5] {
    padding: 0 1em;
    height: 100px;
    overflow-x: scroll;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(0.5turn, var(--top-color), var(--bottom-color));
    font-size: 0.7em;
    color: var(--font-color);
}
    /*.navbar.dark-mode {
        background-image: linear-gradient(0.5turn, #181a1b, #07141b);
    }*/

@media (min-width: 640.98px) {
    .page[b-v22kqhmhi5] {
        flex-direction: row;
    }

    .navbar[b-v22kqhmhi5] {
        overflow-x: hidden;
        padding: 0 0 0 .5em;
        height: 100%;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: center;
        min-width: auto;
        width: 120px;
        flex-shrink: 0;
    }
}
/*************************/


/*** DARK MODE SWITCH ****/
#dark-mode-switch[b-v22kqhmhi5] {
    position: fixed;
    display: inline-block;
    width: 30px;
    height: 18px;
    bottom: .5em;
    right: .5em;
}

    #dark-mode-switch input[b-v22kqhmhi5] {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider[b-v22kqhmhi5] {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000020;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider[b-v22kqhmhi5]:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 2.5px;
        bottom: 2.5px;
        background-color: azure;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .dark-mode.slider[b-v22kqhmhi5]:before {
            background-color: #1c364abd;
            -webkit-transform: translateX(12px);
            -ms-transform: translateX(12px);
            transform: translateX(12px);
        }

.slider.round[b-v22kqhmhi5] {
    border-radius: 40px;
}

    .slider.round[b-v22kqhmhi5]:before {
        border-radius: 50%;
    }

@media (min-width: 640.98px) {

    #dark-mode-switch[b-v22kqhmhi5] {
        bottom: auto;
        top: .5em;
        right: .5em;
    }
}
/*************************/
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-item[b-jprz7s75ss] {
    padding: .2em;
    margin: 0;
}

    .navbar-item[b-jprz7s75ss]  a {
        position: relative;
        display: block;
        padding: 1em;
    }

        .navbar-item[b-jprz7s75ss]  a:hover {
            background-color: var(--less-accent-color);
            border-radius: 10px;
        }

        .navbar-item[b-jprz7s75ss]  a.active {
            background-color: var(--accent-color);
            border-radius: 10px;
            transition: background-color 0.4s;
        }

.navbar-item-text[b-jprz7s75ss] {
    display: none;
}

.nav-item-content[b-jprz7s75ss] {
    display: flex;
    align-items: center;
}

    .nav-item-content:first-of-type[b-jprz7s75ss] {
        padding-left: 1rem;
    }

    .nav-item-content:last-of-type[b-jprz7s75ss] {
        padding-right: 1rem;
    }


@media (min-width: 640.98px) {
    .navbar-item-text[b-jprz7s75ss] {
        display: inline;
    }

    .navbar-item[b-jprz7s75ss] {
        padding: 0;
    }

        .navbar-item[b-jprz7s75ss]  a {
            width: 100px;
            padding: 10px;
        }

            .navbar-item[b-jprz7s75ss]  a:hover {
                border-radius: 10px 0 0 10px;
            }

            .navbar-item[b-jprz7s75ss]  a.active {
                border-radius: 10px 0 0 10px;
            }


    .nav-link[b-jprz7s75ss] {
        display: inline-block;
        height: 200px !important;
        background-color: white;
    }

    .nav-item-content:first-of-type[b-jprz7s75ss] {
        padding-left: 0;
    }

    .nav-item-content:last-of-type[b-jprz7s75ss] {
        padding-right: 0;
    }

    .bi[b-jprz7s75ss] {
        margin-right: 0.5rem !important;
    }
}

.bi[b-jprz7s75ss] {
    display: inline-block;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0;
    top: -1px;
    background-size: cover;
    filter: invert(1);
}

    .bi.dark-mode[b-jprz7s75ss] {
        filter: invert(0);
    }

.bi-house-door-fill-nav-menu[b-jprz7s75ss] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='lavenderblush' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-jprz7s75ss] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='lavenderblush' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-jprz7s75ss] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='lavenderblush' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}
/* /Pages/Home.razor.rz.scp.css */
.menu[b-4vwhxuxu6f] {
    position: relative;
    overflow-x: scroll;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

span[b-4vwhxuxu6f] {
    align-self: center;
}

    span h1[b-4vwhxuxu6f] {
        color: var(--accent-color);
        font-weight: 400;
        font-size:  2em;
        margin-top: 0;
    }

a > div[b-4vwhxuxu6f] {
    height: 100%;
}

.tiles[b-4vwhxuxu6f] {
    align-self: center;
    display: grid;
    width: 80%;
    height: 85%;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    place-items: stretch stretch;
}

.tile-item[b-4vwhxuxu6f] {
    height: 100%;
    width: 100%;
    text-align: center;
    border: solid 1px var(--less-accent-color);
    border-radius: 10px;
}

    .tile-item:hover[b-4vwhxuxu6f] {
        cursor: pointer;
    }

    .tile-item[b-4vwhxuxu6f]  a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }

        .tile-item[b-4vwhxuxu6f]  a:hover {
            background-color: var(--less-accent-color);
            border-radius: 9px;
        }

        .tile-item[b-4vwhxuxu6f]  a.active {
            background-color: var(--accent-color);
            border-radius: 9px;
            transition: background-color 0.4s;
        }

.tile-item-text[b-4vwhxuxu6f] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
}

@media (min-width: 640.98px) {
    .menu[b-4vwhxuxu6f] {
        overflow-x: hidden;
    }

    .tiles[b-4vwhxuxu6f] {
        grid-template-columns: repeat(3, 1fr);
        width: 60%;
        height: 60%;
    }
}
/* /Pages/StripColor.razor.rz.scp.css */
.slider-container[b-3tyiwenkx5] {
    margin-left: 2em;
}

.slider-label[b-3tyiwenkx5] {
    display: block;
    margin-top: 1em;
    color: var(--accent-color);
}

.slider[b-3tyiwenkx5] {

}

.slider-value[b-3tyiwenkx5] {
    display: block;
    width: fit-content;
    color: var(--less-accent-color);
}


@media (min-width: 640.98px) {
    
}
/* /Pages/TimeFrame.razor.rz.scp.css */
.container[b-1496i5xg6n] {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.time-frame-container[b-1496i5xg6n] {
    position: relative;
    height: 70%;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
    border-radius: 10px;
    background-color: var(--fill-color);
}

.brightness-controller[b-1496i5xg6n] {
    position: absolute;
}

.left-chart[b-1496i5xg6n], .right-chart[b-1496i5xg6n] {
    position: relative;
    flex-basis: 50%;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    pointer-events: none;
}

.top-layer[b-1496i5xg6n] {
    position: relative;
    flex-basis: 100%;
    margin-top: 2.2em;
    pointer-events: none;
}

.bottom-layer[b-1496i5xg6n] {
    position: absolute;
    width: 100%;
    left: 0%;
    bottom: -5px;
}

.top-on-hour-slider[b-1496i5xg6n] {
    position: absolute;
    width: 100px;
    left: 0;
}

.brightness-controller[b-1496i5xg6n] {
    width: calc(100% - 4em);
    height: calc(100% - 4em);
    top: 2em;
    left: 2em;
    pointer-events: none;
}

.line-controller[b-1496i5xg6n] {
    position: absolute;
    width: calc(100% - 4em);
    height: calc(100% - 4.2em);
    top: 2.5em;
    left: 2em;
    pointer-events: none;
}

.line[b-1496i5xg6n] {
    position: absolute;
    height: 4px;
    background-color: var(--accent-color);
}

#left-top-slider[b-1496i5xg6n] {
    -webkit-transform: rotate(180deg);
}

#left-bottom-slider[b-1496i5xg6n] {
    -webkit-transform: rotate(180deg);
}


@media (min-width: 640.98px) {
    .time-frame-container[b-1496i5xg6n] {
        height: 60%;
        width: 80%;
    }

}







/* SLIDERS STYLE */

input[type=range][b-1496i5xg6n] {
    height: .5em;
    -webkit-appearance: none;
    background: transparent;
    /*background: #00000044; /* DO USUNIĘCIA */
    margin: 10px 0;
    width: 100%;
    pointer-events: auto;
}

    input[type=range]:focus[b-1496i5xg6n] {
        outline: none;
    }

    input[type=range][b-1496i5xg6n]::-webkit-slider-runnable-track {
        width: 100%;
        height: 2px;
        cursor: pointer;
        transition: 0.2s;
        border-radius: 2px;
    }

    input[type=range][b-1496i5xg6n]::-webkit-slider-thumb {
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background: var(--accent-color);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -9px;
    }

    input[type=range]:focus[b-1496i5xg6n]::-webkit-slider-runnable-track {
        background: transparent;
    }

    input[type=range][b-1496i5xg6n]::-moz-range-track {
        width: 100%;
        height: 2px;
        cursor: pointer;
        background: transparent;
    }

    input[type=range][b-1496i5xg6n]::-moz-range-thumb {
        height: 18px;
        width: 18px;
        border-radius: 50%;
        border: none;
        background: var(--accent-color);
        cursor: pointer;
    }

    input[type=range][b-1496i5xg6n]::-ms-track {
        width: 100%;
        height: 2px;
        cursor: pointer;
    }

    input[type=range][b-1496i5xg6n]::-ms-fill-lower {
        border-radius: 4px;
    }

    input[type=range][b-1496i5xg6n]::-ms-fill-upper {
        border-radius: 4px;
    }

    input[type=range][b-1496i5xg6n]::-ms-thumb {
        margin-top: 1px;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background: var(--accent-color);
        cursor: pointer;
    }

    input[type=range]:focus[b-1496i5xg6n]::-ms-fill-lower {
    }

    input[type=range]:focus[b-1496i5xg6n]::-ms-fill-upper {
    }


@media (min-width: 640.98px) {
    input[type=range][b-1496i5xg6n]::-webkit-slider-thumb {
        height: 14px;
        width: 14px;
    }

    input[type=range][b-1496i5xg6n]::-moz-range-thumb {
        height: 14px;
        width: 14px;
    }

    input[type=range][b-1496i5xg6n]::-ms-thumb {
        height: 14px;
        width: 14px;
    }
}



/* BRIGHTNESS SLIDER*/

input[type=range].brightness-slider[b-1496i5xg6n] {
    height: 5em;
    -webkit-transform: rotate(-90deg);
    position: relative;
    top: calc(50% - 3em);
    pointer-events: auto;
    --webkit-slider-thumb-height: 0px;
}

    .brightness-slider[b-1496i5xg6n]::-webkit-slider-thumb {
        height: var(--webkit-slider-thumb-height) !important;
        width: 4px !important;
        border-radius: 0px !important;
    }

    .brightness-slider[b-1496i5xg6n]::-webkit-slider-thumb {
        height: var(--webkit-slider-thumb-height) !important;
        width: 4px !important;
        border-radius: 0px !important;
    }

    .brightness-slider[b-1496i5xg6n]::-moz-range-thumb {
        height: var(--webkit-slider-thumb-height) !important;
        width: 4px !important;
        border-radius: 0px !important;
    }

    .brightness-slider[b-1496i5xg6n]::-ms-thumb {
        height: var(--webkit-slider-thumb-height) !important;
        width: 4px !important;
        border-radius: 0px !important;
    }


/*datalist {
    https://blog.logrocket.com/creating-custom-css-range-slider-javascript-upgrades/
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: rotate(-90deg);
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    padding: 0 5px;
    flex-direction: column;
    writing-mode: vertical-lr;
}*/

@media (min-width: 640.98px) {
    
}
