.menu[b-4vwhxuxu6f] {
    position: relative;
    overflow-x: scroll;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

span[b-4vwhxuxu6f] {
    align-self: center;
}

    span h1[b-4vwhxuxu6f] {
        color: var(--accent-color);
        font-weight: 400;
        font-size:  2em;
        margin-top: 0;
    }

a > div[b-4vwhxuxu6f] {
    height: 100%;
}

.tiles[b-4vwhxuxu6f] {
    align-self: center;
    display: grid;
    width: 80%;
    height: 85%;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    place-items: stretch stretch;
}

.tile-item[b-4vwhxuxu6f] {
    height: 100%;
    width: 100%;
    text-align: center;
    border: solid 1px var(--less-accent-color);
    border-radius: 10px;
}

    .tile-item:hover[b-4vwhxuxu6f] {
        cursor: pointer;
    }

    .tile-item[b-4vwhxuxu6f]  a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }

        .tile-item[b-4vwhxuxu6f]  a:hover {
            background-color: var(--less-accent-color);
            border-radius: 9px;
        }

        .tile-item[b-4vwhxuxu6f]  a.active {
            background-color: var(--accent-color);
            border-radius: 9px;
            transition: background-color 0.4s;
        }

.tile-item-text[b-4vwhxuxu6f] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
}

@media (min-width: 640.98px) {
    .menu[b-4vwhxuxu6f] {
        overflow-x: hidden;
    }

    .tiles[b-4vwhxuxu6f] {
        grid-template-columns: repeat(3, 1fr);
        width: 60%;
        height: 60%;
    }
}
