.container[b-1496i5xg6n] {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.time-frame-container[b-1496i5xg6n] {
    position: relative;
    height: 70%;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
    border-radius: 10px;
    background-color: var(--fill-color);
}

.brightness-controller[b-1496i5xg6n] {
    position: absolute;
}

.left-chart[b-1496i5xg6n], .right-chart[b-1496i5xg6n] {
    position: relative;
    flex-basis: 50%;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    pointer-events: none;
}

.top-layer[b-1496i5xg6n] {
    position: relative;
    flex-basis: 100%;
    margin-top: 2.2em;
    pointer-events: none;
}

.bottom-layer[b-1496i5xg6n] {
    position: absolute;
    width: 100%;
    left: 0%;
    bottom: -5px;
}

.top-on-hour-slider[b-1496i5xg6n] {
    position: absolute;
    width: 100px;
    left: 0;
}

.brightness-controller[b-1496i5xg6n] {
    width: calc(100% - 4em);
    height: calc(100% - 4em);
    top: 2em;
    left: 2em;
    pointer-events: none;
}

.line-controller[b-1496i5xg6n] {
    position: absolute;
    width: calc(100% - 4em);
    height: calc(100% - 4.2em);
    top: 2.5em;
    left: 2em;
    pointer-events: none;
}

.line[b-1496i5xg6n] {
    position: absolute;
    height: 4px;
    background-color: var(--accent-color);
}

#left-top-slider[b-1496i5xg6n] {
    -webkit-transform: rotate(180deg);
}

#left-bottom-slider[b-1496i5xg6n] {
    -webkit-transform: rotate(180deg);
}


@media (min-width: 640.98px) {
    .time-frame-container[b-1496i5xg6n] {
        height: 60%;
        width: 80%;
    }

}







/* SLIDERS STYLE */

input[type=range][b-1496i5xg6n] {
    height: .5em;
    -webkit-appearance: none;
    background: transparent;
    /*background: #00000044; /* DO USUNIĘCIA */
    margin: 10px 0;
    width: 100%;
    pointer-events: auto;
}

    input[type=range]:focus[b-1496i5xg6n] {
        outline: none;
    }

    input[type=range][b-1496i5xg6n]::-webkit-slider-runnable-track {
        width: 100%;
        height: 2px;
        cursor: pointer;
        transition: 0.2s;
        border-radius: 2px;
    }

    input[type=range][b-1496i5xg6n]::-webkit-slider-thumb {
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background: var(--accent-color);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -9px;
    }

    input[type=range]:focus[b-1496i5xg6n]::-webkit-slider-runnable-track {
        background: transparent;
    }

    input[type=range][b-1496i5xg6n]::-moz-range-track {
        width: 100%;
        height: 2px;
        cursor: pointer;
        background: transparent;
    }

    input[type=range][b-1496i5xg6n]::-moz-range-thumb {
        height: 18px;
        width: 18px;
        border-radius: 50%;
        border: none;
        background: var(--accent-color);
        cursor: pointer;
    }

    input[type=range][b-1496i5xg6n]::-ms-track {
        width: 100%;
        height: 2px;
        cursor: pointer;
    }

    input[type=range][b-1496i5xg6n]::-ms-fill-lower {
        border-radius: 4px;
    }

    input[type=range][b-1496i5xg6n]::-ms-fill-upper {
        border-radius: 4px;
    }

    input[type=range][b-1496i5xg6n]::-ms-thumb {
        margin-top: 1px;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background: var(--accent-color);
        cursor: pointer;
    }

    input[type=range]:focus[b-1496i5xg6n]::-ms-fill-lower {
    }

    input[type=range]:focus[b-1496i5xg6n]::-ms-fill-upper {
    }


@media (min-width: 640.98px) {
    input[type=range][b-1496i5xg6n]::-webkit-slider-thumb {
        height: 14px;
        width: 14px;
    }

    input[type=range][b-1496i5xg6n]::-moz-range-thumb {
        height: 14px;
        width: 14px;
    }

    input[type=range][b-1496i5xg6n]::-ms-thumb {
        height: 14px;
        width: 14px;
    }
}



/* BRIGHTNESS SLIDER*/

input[type=range].brightness-slider[b-1496i5xg6n] {
    height: 5em;
    -webkit-transform: rotate(-90deg);
    position: relative;
    top: calc(50% - 3em);
    pointer-events: auto;
    --webkit-slider-thumb-height: 0px;
}

    .brightness-slider[b-1496i5xg6n]::-webkit-slider-thumb {
        height: var(--webkit-slider-thumb-height) !important;
        width: 4px !important;
        border-radius: 0px !important;
    }

    .brightness-slider[b-1496i5xg6n]::-webkit-slider-thumb {
        height: var(--webkit-slider-thumb-height) !important;
        width: 4px !important;
        border-radius: 0px !important;
    }

    .brightness-slider[b-1496i5xg6n]::-moz-range-thumb {
        height: var(--webkit-slider-thumb-height) !important;
        width: 4px !important;
        border-radius: 0px !important;
    }

    .brightness-slider[b-1496i5xg6n]::-ms-thumb {
        height: var(--webkit-slider-thumb-height) !important;
        width: 4px !important;
        border-radius: 0px !important;
    }


/*datalist {
    https://blog.logrocket.com/creating-custom-css-range-slider-javascript-upgrades/
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: rotate(-90deg);
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    padding: 0 5px;
    flex-direction: column;
    writing-mode: vertical-lr;
}*/

@media (min-width: 640.98px) {
    
}
